@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
}

:host {
  font-family: 'Nunito', sans-serif;
}